body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecf0f1;
  }
  
  .container {
    width: 250px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border:2px solid #3498db ;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #3498db;
    padding: 0.1rem;
    border-radius: 0.5rem;

  }
  
  .header h1 {
    font-size: 24px;
    color: white;
  }
  
  .content {
    text-align: center;
  }
  
  .coin-selector label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .coin-selector select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .price-display p {
    font-size: 18px;
    font-weight: bold;
    color: #3498db;
    margin: 0;
  }
  